*
  box-sizing: border-box

html, body, ul
  margin: 0
  padding: 0
  font-size: $remBase

.app
  display: flex
  flex-direction: column
  font-family: monospace
  height: 100%
  overflow: hidden

.title
  text-transform: uppercase
  text-align: center
  border: 1px solid carnation

.navigation
  display: flex
  justify-content: space-around
  align-items: center
  height: rem(36)

  a
    text-decoration: none
    width: 10rem
    text-align: center
    color: #000

.view-port
  flex: 1 1 auto
  overflow: auto

.footer
  text-align: center
