html, body
  margin: 0
  padding: 0

.app
  height: 100%
  display: flex
  flex-direction: column
  font-family: monospace
  overflow: hidden

.title
  text-transform: uppercase
  text-align: center
  border: 1px solid yellow

.navigation
  display: flex
  justify-content: space-around
  align-items: center
  height: 3rem

  a
    text-decoration: none
    width: 10rem
    text-align: center
    color: #000

.view-port
  flex: 1 1 auto

.footer
  text-align: center
