@font-face
  font-family: 'Proxima-It'
  src: url('../fonts/ProximaNovaBlackIt.otf')

@font-face
  font-family: 'Proxima-Bold-It'
  src: url('../fonts/ProximaNovaBoldIt.otf')

@font-face
  font-family: 'Proxima-Light'
  src: url('../fonts/ProximaNovaLightIt.otf')

@font-face
  font-family: 'Proxima'
  src: url('../fonts/ProximaNovaRegIt.otf')
