/* Size */
REM_BASE = 12px

/* Global Colors */
/* Base Colors */

BASE_COLOR = #201F1F
BASE_BACKGROUND_COLOR = #FFFFFF
BORDER_COLOR = #E0E2E5
BACKGROUND_COLOR = #F7F7F7
BACKGROUND_TONE_COLOR = #FAFAFA
WARNING_COLOR = #F5A623
ERROR_COLOR = #ED4856

/* Buttons */
BUTTON_BACKGROUND_COLOR = #ffffff
BUTTON_BACKGROUND_HOVER_COLOR = #201F1F
BUTTON_BUY_COLOR = #64bc8a
BUTTON_BUY_HOVER = forrestGreen

BUTTON_WARNING_COLOR = #F65F46
BUTTON_WARNING_HOVER_COLOR = #E3523C
LIKE_RED = #ED4856

/* Form */
LABEL_COLOR = #9B9B9B

/* Font color */
FONT_COLOR = almostBlack

/* Social Colors */
facebookBlue = #3B63A4
twitterBlue = #5EA9DD
googleRed = #DC4E41

/* Filter Colors */
alabasterWhite = #f7f7f7
almostBlack = #0c1214
carnation = #F3654D
mineShaft = #212121
caperGreen = #CBE59E
cornflower = #88B8E4
congressBlue = #044297
coralReef = #C3B69B
goldenFizz = #F8F42E
janna = #F3E1D1
londonPurp = #C7A1CC
pigeonPurp = #B3B7DE
royalPurple = #693BA4
sproutGreen = #B9D29E
springGreen = #9BC39D
sinbad = #9ED2C2
totemRed = #9E0606
violet = #B11D9D
williamGreen = #345D67
waterLeaf = #9EE5E1

/* Fonts */
FONT_FAMILY = 'proxima-nova'
BODY_TEXT_FONT = 'Noto Sans'

/* Screen */
screen-xs = 480px
screen-xs-min = screen-xs
mobile = screen-xs-min

screen-sm = 768px
screen-sm-min = screen-sm
tablet = screen-sm-min

screen-md = 992px
screen-md-min = screen-md
desktop = screen-md-min

screen-lg = 1200px
screen-lg-min = screen-lg
screen-lg-desktop = screen-lg-min

screen-xs-max = (screen-sm-min - 1)
screen-sm-max = (screen-md-min - 1)
screen-md-max = (screen-lg-min - 1)
