/* Size */
remBase = 12px
h1Size = 1rem

/* Global Colors */
/* Base Colors */
SiteBlack = #201f1f
BorderLine = #E0E2E5
Background = #ffffff

/* Buttons */
BuyButton = #64bc8a
BuyButtonHover = forrestGreen
warningButton = #F65F46
warningButtonHover = #E3523C
regularButtonHover = tundoraBlack

/* Social Colors */
FacebookBlue = #3B63A4
TwitterBlue = #5EA9DD
GoogleRed = #DC4E41

/* Filter Colors */
alabasterWhite = #f7f7f7
carnation = #F3654D
caperGreen = #CBE59E
cornflower = #88B8E4
congressBlue = #044297
coralReef = #C3B69B
goldenFizz = #F8F42E
janna = #F3E1D1
londonPurp = #C7A1CC
pigeonPurp = #B3B7DE
royalPurple = #693BA4
sproutGreen = #B9D29E
springGreen = #9BC39D
sinbad = #9ED2C2
totemRed = #9E0606
violet = #B11D9D
williamGreen = #345D67
waterLeaf = #9EE5E1

/* Font */
fontFamily = 'Proxima'
fontFamilyLight = 'Proxima-Light'
fontFamilyIt = 'Proxima-It'
fontFamilyBoldIt = 'Proxima-Bold-It'

/* Screen */
screen-xs = 480px
screen-xs-min = screen-xs
mobile = screen-xs-min

screen-sm = 768px
screen-sm-min = screen-sm
tablet = screen-sm-min

screen-md = 992px
screen-md-min = screen-md
desktop = screen-md-min

screen-lg = 1200px
screen-lg-min = screen-lg
screen-lg-desktop = screen-lg-min

screen-xs-max = (screen-sm-min - 1)
screen-sm-max = (screen-md-min - 1)
screen-md-max = (screen-lg-min - 1)
